# Flutter and Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/

# IDE
.idea/
.vscode/

# Generated platform folders
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
